<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>

  <%= f.text_field :content, placeholder: "New Item", autocomplete: "off" %>
  <%= f.submit 'Add' , id: "add" %>
  <%= f.text_field :category, placeholder: "Category" %>
<% end %>
