
<% if todo_item.completed? %>
	<div class="tdrow completed">
		<div class="complete">
			<%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id) do %>
				<i style="opacity: 0.2;" class="fa fa-cog"></i>
			<% end %>
		</div>
		<%= link_to toggle_todo_list_todo_item_path(@todo_list, todo_item.id),
			 						method: :patch do %>
			<div class="todo_item" id="<%= todo_item.id %>">
				<p style="opacity: 0.2;">
					<strike>
						<% if !todo_item.category.nil? %>
							<% if !todo_item.category.empty? %>
								<strong><%= todo_item.category %>:</strong>
							<% end %>
						<% end %>
						<%= todo_item.content %>
					</strike>
				</p>
			</div>
		<% end %>
		<div class="trash">
			<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), 
									method: :delete do %>
				<i style="opacity: 0.2;" class="fa fa-trash"></i>
			<% end %>
		</div>
	</div>


<!-- not completed -->	
<% else %>
	<div class="tdrow uncompleted">
		<div class="complete">
			<%= link_to edit_todo_list_todo_item_path(@todo_list, todo_item.id) do %>
				<i class="fa fa-cog"></i>
			<% end %>
		</div>
		<%= link_to toggle_todo_list_todo_item_path(@todo_list, todo_item.id),
									method: :patch do %>
			<div class="todo_item" id="<%= todo_item.id %>">
				<p>
					<% if !todo_item.category.nil? %>
						<% if !todo_item.category.empty? %>
							<strong><%= todo_item.category %>:</strong>
						<% end %>
					<% end %>
					<%= todo_item.content %>
				</p>
			</div>
		<% end %>
		<div class="trash">
			<%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), 
									method: :delete do %>
				<i class="fa fa-trash"></i>
			<% end %>
		</div>
	</div>
<% end %>