
<h2 class="todo_list_title">Edit Item</h2>
<hr />

<div class="todo_items_wrapper">

  <%= render @todo_item %>

  <div id="form">
    <%= form_for([@todo_list, @todo_item]) do |f| %>
      <%= f.text_field :content,
                       value: @todo_item.content,
                       autocomplete: "off" %>
      <%= f.submit 'Save', method: :patch %>
      <%= f.text_field :category, placeholder: "Category" %>
    <% end %>


  </div>
</div>