<div class="comments" id="comments">
  <h1 class="comments title">Comments</h1>
  
  <%= render 'comments/form' %>

  <div id="pagination"></div>
  <%= will_paginate @comments,:params => {:anchor => "pagination"}%>
    <%= render @comments %>
  <%= will_paginate @comments,:params => {:anchor => "pagination"}%>
</div>