<div class="comment">
  <p class="body"><%= comment.body %></p>
  <p class="author"><%= comment.author %></p>
  <p class="date">
    <%= comment.created_at.localtime.strftime("%b %-d") %>
    - <%= comment.created_at.localtime.strftime("%I:%M %p") %>
  </p>
  <%= link_to comment,
              method: :delete,
              class: 'delete',
              data: { 
                confirm: "Delete '#{comment.body}' by #{comment.author}?"
              } do %>
    <i class="fa fa-trash"> Delete</i>
  <% end %>
</div>