<%= form_for(@comment) do |f| %>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body, autocomplete: 'off',
                           placeholder: 'New Comment' %>
  </div>

  <div class="field">
    <%= f.label :author %>
    <%= f.text_field :author, id: 'author'%>
  </div>

  <div class="actions">
    <%= f.submit 'Post' %>
  </div>
<% end %>

<script>
  // clear text on click
  $('#author').focus(function() {
    $('#author').val('');
  });

  // replace blank w/ default value
  // - this runs fast enough to replace even if user submits
  //   the form while focusing the author text field!
  $('#author').focusout(function() {
    if ($('#author').val() === '') {
      $('#author').val('anon');
    }
  });
</script>