<%= form_for(@todo_list) do |f| %>
  <% if @todo_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo_list.errors.count, "error") %> prohibited this todo_list from being saved:</h2>

      <ul>
      <% todo_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>
