 <!-- <div class="container"> in index.html.erb-->

   <!-- todolists section -->
  <h1 class="comments title">ToDo Lists</h1>
  <% @todo_lists.each do |todo_list| %>
    <div class="index_row clearfix">
      <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
      <p class="todo_list_sub_title"><%= todo_list.description %></p>
    </div>
  <% end %>

  <div class="links">
    <%= link_to "New Todo List", new_todo_list_path %>
  </div>

</div>
<nav>
  <% if user_signed_in? %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out fa-3x"></i>
    <% end %>
  <% end %>
</nav>
<!-- this is a hack to split containers special for home page.
     so i don't have to div every page -->
<div class="container">

  <!-- comments section -->
  <%= render 'comments/all' %>
<!-- </div> in index.html.erb