
<h2 class="todo_list_title"><%= @todo_list.title %></h2>
<p class="todo_list_sub_title"><%= @todo_list.description %></p>

<div class="todo_items_wrapper">
	<%= render @todo_list.todo_items.sort_by {
    |item| [item.category ? 0 : 1, item.category || 0,
            item.completed_at ? 0 : 1, item.completed_at || 0]} %>
	<div id="form">
		<%= render "todo_items/form" %>
	</div>
</div>

<div class="links">
  <%= link_to 'Check All',
              complete_all_todo_list_todo_items_path(@todo_list),
              method: :patch %> |
  <%= link_to 'Clear All',
              clear_all_todo_list_todo_items_path(@todo_list),
              method: :patch %> |
  <%= link_to 'Delete All',
              delete_all_todo_list_todo_items_path(@todo_list),
              method: :delete,
              data: { 
                confirm: "Delete all items in '#{@todo_list.title}'?" 
              } %>
  <hr />
	<%= link_to 'Edit', edit_todo_list_path(@todo_list) %> |
	<%= link_to 'Delete',
              todo_list_path(@todo_list),
              method: :delete,
              data: { confirm: "Delete '#{@todo_list.title}'?" } %> |
  <%= link_to 'Back to Lists', todo_lists_path %>
</div>
<script>
  // set anchor tag for redirects
  $(document).ready(function() {
    if ($('.uncompleted').length > 0) {
      $('.uncompleted')[0].id = "anchor"
    }
    else {
      $('.time')[0].id = "anchor"
    }
  });
</script>