/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

 $white_opaque: rgba(250, 250, 250, .3);
 $dark: #1F7972;

* {
	box-sizing: border-box;
}
html {
  min-height: 100%;
}

body {
 	height: 100%;
  font-family: 'Lato', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(40deg, #4CB8C4 0%, #EAECC6 100%);
}

nav {
	text-align: center;
	padding: 10px;
	margin: 0;
	display: flex;
	justify-content: center;
	i {
		text-shadow: none;
		color: white;
		padding: 4px;
		border: 1px solid rgba(0,0,0,.2);
		transition: all .4s ease-in-out;
		background-color: rgba(0,0,0,.1);
		&:hover {
			color: $dark;
		}
	}
}

header {
	.alert {
		margin: 10px;
		padding: 10px;
		text-align: center;

	}
}

.container {
	width: 50%;
	max-width: 900px;
	background: $white_opaque;
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}

.devise {
	display: flex;
	flex-direction: column;
	align-items: center;
	.field {
		display: flex;
		flex-direction: column;
	}
	.remember {
		flex-direction: row;
		justify-content: center;
	}
	input[type="submit"] {
		width: auto;			
	}
}

.title {
	text-align: center;
	font-weight: 600;
	font-size: 2em;
	text-shadow: 0 0 3px rgba(0,0,0,0.2);
	color: $dark;
	margin: 10px;

}

.todo_list_title {
	text-align: center;
	font-weight: 300;
	font-size: 2.5em;
	text-shadow: 2px 2px 3px black;
	color: black;
	margin: 0;
	a {
		text-decoration: none;
		border-bottom: 2px solid black;
		color: black;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4;
		}
	}
}

.todo_list_sub_title {
	text-shadow: none;
	margin: 1em 0 1em 0;
	text-align: center;
	font-size: 1em;
	color: $dark;
	font-weight: 100;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

input {
	autocomplete: off;
}

.todo_item {
	text-shadow: 1px 1px 2px white;
	strong {
		font-weight: 400;
		text-decoration: underline;
	}
}

.uncompleted {
	background-color: rgba(230,230,230, .3);
}

.completed {
	background-color: rgba(5,5,5, .1);
}

.todo_items_wrapper {
	text-shadow: none;
	.tdrow {
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
		width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-grow: 0;
		.complete {
			width: 10%;
			text-align: center;
			border-right: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		a {
			width: 80%;
		}
		.todo_item {
			text-align: left;
			p {
				margin: 0;
				padding: 1em;
				color: $dark;
				font-weight: 600;
				font-size: 14pt;
			}
		}
		.trash {
			width: 10%;
			text-align: center;
			border-left: 1px solid rgba(250,250,250, .3);
			padding: 1em 0;
		}
		i {
			text-shadow: 2px 2px 3px black;
			color: white;
			transition: all .4s ease-in-out;
			&:hover {
				color: $dark;
			}
		}
	}
	#form {
		margin-top: 2em;
		padding-left: 2.5%;
		input[type="text"] {
			width: 70%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: auto;
			padding: 10px;
		}
		input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: auto;
			padding: 10px;
			//border-radius: 4px;
			width: 25%;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;
			&:hover {
				background: $dark;
			}
		}
		::-webkit-input-placeholder { color: $dark; }
	}
}

.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	text-shadow: 2px 2px 3px black;
	font-size: 1.5em;
	color: white;
	a {
		color: white;
	}
}

.forms {
	padding: 0 5%;
}
label {
	width: 100%;
	color: $dark;
	float: left;
	padding: 10px;
}

input[type="text"], input[type="submit"], textarea {
	font-size: 16px;
}

input[type="text"], textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: auto;
	padding: 10px;
}
.actions {
	text-align: center;
}
input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	//height: 40px;
	margin-top: 10px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: $dark;
	height: auto;
	padding: 10px;
	&:hover {
		background: $dark;
		color: white;
	}
}
::-webkit-input-placeholder { color: $dark; }

.field {
	text-shadow: none;
}

// comments

.comments {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.comment {
	background: #e3e2e1;
	padding: 15px;
	margin-top: 20px;
	width: 95%;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	p {
		text-align: left;
		word-wrap: break-word;
		margin: 0;
		width: 80%;
	}
	.body {
		padding: 10px;
		height: 50%;
	}
	.author {
		padding-left: 10px;
		height: 25%;
		color: $dark;
	}
	.date {
		padding-left: 10px;
		height: 25%;
		color: gray;
	}
	.delete {
		color: $dark;
		transition: 0.3s 0.1s ease-in;
		:hover {
			color: black;
		}
	}
}

/* miscellaneous */

.debug_dump {
  clear: both;
  width: auto;
  margin-top: 45px;
  text-shadow: none;
  background-color: rgba(0,0,0,0.1);
}

// MOBILE
@media only screen and (max-device-width: 480px) {
	.devise {
		margin: 0 10px 0 10px;
		input {
		}
	}
	.container {
		width: 95%;
		i {
			padding: 6px;
			transform: scale(2);
		}
	}
	.todo_items_wrapper {
		.row {
			.complete {
				width: 15%;
			}
			.todo_item {
				width: 70%;
			}
			.trash {
				width: 15%;
			}
		}
	}
	.time {
		text-align: center;
		height: 50px;
	}
	select {
		transform: scale(2.0);
		margin: 20px 20px 20px 25px;
		display: inline-block;
	}
	input[type="checkbox"] {
		transform: scale(2.1);
		margin-left: 20px;
		margin-top: 10px;
	}
	.comment {
		p {
			font-size: 150%;
		}
		.delete {
			font-size: 75%;
			margin: 20px 0 0 20px;
		}
	}
}

