<!DOCTYPE html>
<html>
<head>
  <title>List App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> 
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href='//fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <% if !notice.nil? || !alert.nil? %>
      <div class="alert">
        <%= notice %>
        <%= alert %>
      </div>
    <% end %>

    <nav>
      <%= link_to todo_lists_path do %>
        <i class="fa fa-home fa-3x"></i>
      <% end %>
    </nav>
  </header>
  <div class="container">

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
